html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    height: auto;
}
header {
    height: 64px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.title {
    text-height: 15px;
    color: gray;
}
.logo {
    margin-top: 5px;
    margin-left: 3%;
    height: 50px;
    width: 50px;
}
nav a {
    float: right;
    color: gray;
    margin: 16px;
    font-size: 18px;
    text-decoration: none;
}
nav {
    margin-right: 3%;
}
.container--one {
    background-color: lightblue;
    max-width: 100%;
    min-width: 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.container--banner img {
    width: 95%;
    height: auto;
    padding: 5%;
}
.container--learn {
    margin-top: 0;
    margin-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: x-large;
    height: auto;
    align-content: center;
    line-height:normal;
    color: darkslategray;
    text-align: center;
}
#button-start {
    height: 50px;
    width: 100%;
    color: white;
    background-color: darkslategrey;
    font-size: large;
}
#button-start:hover {
    background-color: gray;
}
.container--two {
    display: flex;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container--img--main img {
    width: 95%;
    height: 45%;
    padding: 5%;
}
.text--latin {
    width: 95%;
    font-size: x-large;
    margin: 5% 5% 0% 5%;
}
.container--img--main {
    display: block;
    width: 56%;
}
.main--right {
    margin: 3% 0%;
    width: 40%;
}
.main--right a {
    text-decoration: none;
}

div.orientation {
    display: flex;
    height: 30%;
    padding: 2%;
}
div.ourcampus {
    display: flex;
    height: 30%;
    padding: 2%;
}
div.ourguestlecture {
    display: flex;
    height: 30%;
    padding: 2%;
}
.text--orientation {
    align-content: center;
    text-align:center;
    width: 30em;
    font-size: large;
}
.text--ourcampus {
    align-content: center;
    text-align: center;
    width: 30em;
    font-size: large;
}
.text--ourguestlecture {
    align-content: center;
    text-align: center;
    width: 30em;
    font-size: large;
}
.container--three {
    background-color: lightblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 32px;
    padding-top: 32px;
    flex-shrink: 1;
}
.startlearning {
    text-align: center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: x-large;
}
.gallery {
    width: 30%;
    height: auto;
    flex-grow: 0;
    flex-shrink: 1;
}
.objects {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.gallery img {
    width: 100%;
}
.container--four {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-top: 32px;
    flex-shrink: 1;
}
.thesisexhibit {
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
    font-size: x-large;
}
.video--container {
    width: 50em;
    height: auto;
    margin-left: 24px;
    margin-right: 24px;
}
video {
    width: 90%;
}
.fisma {
    display: flex;
    width: 30em;
}
.nowandthen {
    display: flex;
    margin-top: 36px;
    width: 30em;
}
#fisma-text, #nowandthen-text {
    margin-left: 36px;
    text-align: center;
    font-size: large;
}
#fisma-img, #nowandthen-img {
    width: 40%;
}
.footer {
    display: flex;
    margin-left: 24px;
    justify-content: space-between;
    align-items: center;
}
.footer a {
    float: right;
    margin: 8px;
    color: black;
    text-decoration: none;
}
.gallery a, .container--four a {
    color: black;
    text-decoration: none;
}
@media only screen and (max-width:700px) {
    .container--one {
    display: flex;
    flex-wrap: wrap;
    }
    .container--banner img {
    width: 30em;
    }
    .container--img--main {
    display: none;
    }
    .main--right .orientation, .main--right .ourcampus, .main--right .ourguestlecture {
    display: block;
    justify-items: center;
    width: 30em;
    }
    .title {
    display: none;
    }
}
@media only screen and (min-width:1400px) {
    .title {
    position: relative;
    right: 21%
    }
}
@media only screen and (min-width: 700px) {
    nav #icon {
    display: none;
    }
    table {
    display: none;
    }
}
@media only screen and (max-width: 700px) {
    nav #text {
    display: none;
    }
    .container--three {
    display: none;
    }
}
nav #icon {
    margin: 50px;
}
@media only screen and (max-width:700px) {
    .containerfour--img {
    display: none;
    }
    #ru {
    display: none;
    }
    .container--three img, .container--three p {
    display: none;
    }
}
.rows {
    background-color: lightblue;
    width: 90%;
    margin-left: 5%;
    
}
.rows a {
    color: black;
    text-decoration: none;
}
.rows a:hover {
    color: darkslategrey;
}
td {
    padding: 30px;
    text-align: center;
    border: 8px solid white;
    font-size: x-large;
    font-weight:bold;
}